[Unit]
Description=printzerow_gui
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/printzerow_gui

[Install]
WantedBy=multi-user.target
